
#ulList{
    margin-left: 205px;
    text-align: right
}
.imgicon2{
    margin-right: 40px;
}
.nav-item{
    margin-right: 20PX;
    margin-left: 10px;
}
.d-flex{
    margin-right: 14px;
}
.imgicon1{
    margin-right: 17px;
}
.imgicon2{
    margin-left: 10px;
}
.imgicon1{
    color: rgb(44, 65, 82);
}
#navbarSupportedContent ul li a:hover{
    font-weight: bold;
}
h1{
    margin-left: 7px;
    color:black;
}
.Link{
    text-decoration: none;
}
.Menc{
    text-decoration: none;
}